extends layout
 
block content
  main.container(role='main')
    .jumbotron
      h1 Inicio
      a.btn.btn-lg.btn-primary(href='/report' role='button') Generar Reporte &raquo;
    .container
    .row
    hr
  footer
  .container
    div(align='center')
      | Generador de reporte Activos y Bajas