doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="shortcut icon" href="/images/favicon.ico")
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/popper.min.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/jquerys.min.js")
    script(src="javascripts/functions.js")
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-4
      a.navbar-brand(href='/') Reporte
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarCollapse.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/') | Inicio
          li.nav-item
            a.nav-link(href='modDate') Modificar fechas
          li.nav-item
            a.nav-link(href='modColab') Activar/desac colaboradores
          li.nav-item
            a.nav-link(href='inactPeriod') Modificar periodos
          li.nav-item
            a.nav-link(href='reportIsn') Reporte ISN
    block content