extends layout
 
block content
  main.container(role='main')
    .jumbotron
      h1 Colaboradores activos-inactivos
    .container
    form.row.g-3(action='/postChangeDate', method='post') 
      .col-md-4
        label(class="form-label" for="razonsocialI") Razón social
        input(type="number" class="form-control" id='razonsocialE' name='razonsocialE' placeholder="Ingrese la razon social" maxLength='3')
      .col-md-4
        label(class="form-label" for="razonsocialI") Nómina asig
        input(type="text" class="form-control" id='nomAsigE' name='nomAsigE' placeholder="Ingrese la nómina asignación")
      .col-md-4
        label(class="form-label" for="razonsocialI") Nómina proc
        input(type="text" class="form-control" id='nomProcE' name='nomProcE' placeholder="Ingrese la nómina proceso")
      .col-md-4
        label(class="form-label" for="razonsocialI") Periodo
        input(type="number" class="form-control" id='periodoE' name='periodoE' placeholder="Ingrese el periodo")
      .col-md-4
        label(class="form-label" for="razonsocialI") Año
        input(type="number" class="form-control" id='anioPeriodoE' name='anioPeriodoE' placeholder="Ingrese el año" min="1990")
      .col-md-4
        label(class="form-label" for="razonsocialI") Nuevo IdAsig
        input(type="number" class="form-control" id='newIdAsig' name='newIdAsig' placeholder="Ingrese nuevo IdAsig")
      .col-md-12
        label(class="form-label" for="numEmpE") Num. Empleados
        .input-group.mb-3
          input(type="checkbox" class="btn-check" id="checkColabs" autocomplete="off")
          label.btn.btn-outline-primary(for="checkColabs") Aplica
          input(type="text" class="form-control" id='numEmpE' name='numEmpE' placeholder="Ingrese el numero de empleado")
          div.btn-group(role="group" aria-label="Basic radio toggle button group")
            input.btn-check(type="radio" name="radioAll" id="radioAll1" autocomplete="on" value="on" checked)
            label.btn.btn-outline-primary(for="radioAll1") All
            input.btn-check(type="radio" name="radioAll" id="radioNot" autocomplete="off" value="off")
            label.btn.btn-outline-primary(for="radioNot") Not
      .input-group.mb-3
        button.btn.btn-warning(onclick="colabsData();" type='button' role="button") Consultar
        button.btn.btn-danger(onclick="clearFormColabs();" type='button' role="button") Limpiar
        button.btn.btn-primary(onclick="postColabUpdate();" type='button' role="button") Actualizar
    .row.mb-3(id="actuallDate")
    .row
      .col-md-12.col-sm-12.col-lg-12(id="tabColabs")
    hr
  footer
  .container
    div(align='center')
      | ailoviu programar xD