extends layout
 
block content
  main.container(role='main')
    .jumbotron
      h1 Cambio de fecha
    .container
    form.row.g-3(action='/postChangeDate', method='post') 
      .col-md-4
        label(class="form-label" for="razonsocialI") Razón social
        input(type="number" class="form-control" id='razonsocial' name='razonsocial' placeholder="Ingrese la razon social" maxLength='3')
      .col-md-4
        label(class="form-label" for="nomAsig") Tipo nómina
        input(type="text" class="form-control" id='nomAsig' name='nomAsig' placeholder="Ingrese el tipo-nomina asignacion")
      .col-md-4
        label(class="form-label" for="periodo") Periodo
        input(type="number" class="form-control" id='periodo' name='periodo' placeholder="Ingrese el periodo" )
      .col-md-4
        label(class="form-label" for="anioPeriodo") Año
        input(type="number" class="form-control" id='anioPeriodo' name='anioPeriodo' placeholder="Ingrese el año" min="1990")
      .col-md-4
        label(class="form-label" for="fecAct") Nueva fecha
        input(type="date" class="form-control" id='fecAct' name='fecAct' placeholder="Ingrese la nueva fecha")                
      .col-md-4
      .col-md-6.mt-3
        .btn-group(role="group" aria-label="Grupo accciones")
          button.btn.btn-warning(onclick="getDate();" type='button' role="button") Consultar
          button.btn.btn-danger(onclick="clearForm();" type='button' role="button") Limpiar
          button.btn.btn-primary(onclick="refreshDate();" type='button' role="button") Actualizar
      .row
        .col-md-12.col-sm-12.col-lg-12.mt-3(id="actuallDate")
    hr
  footer
  .container
    div(align='center')
      | ailoviu programar xD