extends layout
 
block content
  main.container(role='main')
    .jumbotron
      h1 Abrir/Cerrar periodos
    .container          
    form.row.g-3(action='/postChangeDate', method='post') 
      .col-md-4
        label(class="form-label" for="razonsocialI") Razón social
        input(type="number" class="form-control" id='razonsocialI' name='razonsocialI' placeholder="Ingrese la razon social" maxLength='3')
      .col-md-4
        label(class="form-label" for="nomAsigI")  Nómina asig
        input(type="text" class="form-control" id='nomAsigI' name='nomAsigI' placeholder="Ingrese la nómina asignación")
      .col-md-4
        label(class="form-label" for="nomProcI")  Nómina proc
        input(type="text" class="form-control" id='nomProcI' name='nomProcI' placeholder="Ingrese la nómina proceso")
      .col-md-4
        label(class="form-label" for="periodoI")  Periodo
        input(type="number" class="form-control" id='periodoI' name='periodoI' placeholder="Ingrese el periodo")
      .col-md-4
        label(class="form-label" for="anioPeriodoI")  Año
        input(type="number" class="form-control" id='anioPeriodoI' name='anioPeriodoI' placeholder="Ingrese el año" min="1990")
      .col-md-4

      .col-md-6.mt-3
        .btn-group(role="group" aria-label="Grupo accciones")
          label(class="form-label" for="statusCal")  Periodos: &nbsp;
          button.btn.btn-warning(onclick="inactPerdiodGet(1);" type='button' role="button") Consultar
          button.btn.btn-secondary(onclick="changeStatusPeriod(1,'open');" type='button' role="button") Abrir P.      
          button.btn.btn-primary(onclick="changeStatusPeriod(1,'close');" type='button' role="button") Cerrar P.
      .col-md-6.mt-3
        .btn-group(role="group" aria-label="Grupo accciones")
          label(class="form-label" for="statusCal") Calendario:&nbsp;
          button.btn.btn-success(onclick="consultPeriod(2);" type='button' role="button") Consultar
          button.btn.btn-danger(onclick="clearFormPeriods();" type='button' role="button") Limpiar
    .row
      .col-md-12.col-sm-12.col-lg-12.mt-3
       .table-responsive(id="dataSuccess")
    hr
  footer
  .container
    div(align='center')
      | ailoviu programar xD