extends layout
 
block content
  main.container(role='main')
    .jumbotron
      h1 Generar reporte
    .container          
    form.row.g-3(action='/postChangeDate', method='post') 
      .col-md-12
        label(class="form-label" for="razonsocialI") Razón social
        input(type="number" class="form-control" id='razonsocialI' name='razonsocialI' placeholder="Ingrese la razon social" maxLength='3')
      .col-md-4.mt-3
      .col-md-4.mt-3
      .col-md-4.mt-3
        .btn-group(role="group" aria-label="Grupo accciones")
          button.btn.btn-warning(onclick="inactPerdiodGet(1);" type='button' role="button") Consultar
    .row
      .col-md-12.col-sm-12.col-lg-12.mt-3
       .table-responsive(id="dataSuccess")
    hr
  footer
  .container
    div(align='center')
      | ailoviu programar xD